/** Свечение */

.future-glow {
    overflow: hidden;
    margin-bottom: 50px;
    white-space: nowrap;
}
.future-glow__tick {
    display: inline-block;
    vertical-align: top;
}


/** Панель */

.future-pane {
    position: relative;
}
.future-pane__background {
    position: relative;
    background: white;
    border-radius: 3px;
}
.future-pane__inner-shadow {
    background: linear-gradient(to bottom, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.05) 100%);
}
.future-pane__outer-shadow {
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 20px;
    right: 20px;
    box-shadow: 0 -5px 35px rgba(0, 0, 0, 0.45);
}
.future-pane__label {
    height: 50px;
    margin-bottom: 15px;
    padding-left: 12px;
    line-height: 50px;
    font-size: 32px;
    color: rgba(0, 0, 0, 0.2);
}
.future-pane_invert .future-pane__label {
    color: rgba(255, 255, 255, 0.3);
}
.future-pane__content {
    padding: 0 30px 20px;
    color: black;
}
.future-pane_invert .future-pane__content {
    color: white;
}


/** Заголовок */

.future-main-header {
    margin: 28px 0 18px;
    font-size: 26px;
    font-weight: normal;
}


/** Метка */

.future-label {
    display: inline-block;
    padding: 1px 7px;
    vertical-align: middle;
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    font-size: 13px;
}


/** Кнопка */

.future-button {
    display: inline-block;
    text-decoration: none;
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
.future-button__wrapper {
    display: inline-block;
    margin: 5px;
    padding: 5px 15px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.7);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    background: linear-gradient(to bottom, rgba(200, 200, 200, 0.55) 0%,rgba(200, 200, 200, 0.35) 100%);
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.4);
    border-radius: 3px;
}


/** Перебутстрапиваем */

form {
    padding: 9px 14px;
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    border-radius: 4px;
}
.form-group:last-child {
    margin-bottom: 0;
}
