<!DOCTYPE html>
<html lang="ru" ng-app="futureApp">
<head>
    <meta charset="utf-8">
    <title>Future</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link href="bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/future.css" rel="stylesheet" type="text/css">
    <script src="js/libs/angular.js"></script>
    <script src="js/libs/underscore.js"></script>
    <script src="js/future.js"></script>
</head>
<body ng-controller="glowController" ng-init="initialize()">
    <div class="future-glow clearfix">
        <div class="future-glow__tick" ng-repeat="item in glow"
             style="width: {{ item.width }}px;
                    height: {{ item.heigth }}px;
                    background: hsl({{ item.hue }}, {{ item.saturation }}%, {{ item.lightness }}%);"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Паттерн</h2>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Ширина</label>
                        <div class="col-sm-9">
                            <input class="input-sm" type="text" ng-model="widthFrom" size="2" /> &mdash;
                            <input class="input-sm" type="text" ng-model="widthTo" size="2" /> &nbsp;
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Тон</label>
                        <div class="col-sm-9">
                            <input class="input-sm" type="text" ng-model="hueFrom" size="3" /> &mdash;
                            <input class="input-sm" type="text" ng-model="hueTo" size="3" /> &nbsp;
                            <span class="text-muted">От 0 до 360</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Насыщенность</label>
                        <div class="col-sm-9">
                            <input class="input-sm" type="text" ng-model="saturationFrom" size="3" /> &mdash;
                            <input class="input-sm" type="text" ng-model="saturationTo" size="3" /> &nbsp;
                            <span class="text-muted">От 0 до 100</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Светлота</label>
                        <div class="col-sm-9">
                            <input class="input-sm" type="text" ng-model="lightnessFrom" size="3" /> &mdash;
                            <input class="input-sm" type="text" ng-model="lightnessTo" size="3" /> &nbsp;
                            <span class="text-muted">От 0 до 100</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-6"></div>
        </div>
    </div>
</body>
</html>
